body{
    background-color: #f9f7fe;
    font-family: 'Inter', sans-serif;
}

.weather-app {
    background: white;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px rgba(65,50, 100, 0.08);
    border-radius: 10px;
    padding: 30px;
}

.search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 15px;
    width: 80%;
    font-size: 16px;
    padding: 30px, 40px;
    height: 100%;
}
main {
    padding: 30px o;
}

.search-form-button {
    background: #885df1;
    padding: 15px 20px;
    border: none;
    margin-left: 10px;
    border-radius: 6px;
    color: white;
}

.weather-app-data {

    display: flex;
    justify-content: space-between;
    line-height: 48px;
    
}

.weather-app-city {

    margin: 0;
    font-size: 38px;
    line-height: 48px;;
}

.weather-app-details {
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 20px;
    font-weight: 500;
}

.weather-app-temperature {
    text-align: right;
    font-weight: bold;
    font-size: 55px;
}

 .weather-app-details strong {
     color: #f65282;
}

a {
    color: #885df1;
    line-height: 5px;
}

footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;

}